name: Build and Push Docker

on:
  push:
    branches: [ master ]  # Коли пуш в main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Клонування репозиторію
      - name: Checkout code
        uses: actions/checkout@v4


